/**
 * Style variables
 */
$base-color: #BDBDBD !default;
$primary-color: #00FFFF !default; // Neon Blue for high contrast (or #39FF14 Green)
$text-color: #E0E0E0 !default; // Off-white for reduced glare
$placeholder-color: #757575 !default;
$link-color: #39FF14 !default; // Neon Green for links
$border: solid 1px #333 !default; // Clearer border
$selection-background: #00FFFF !default;
$selection-text: #000 !default;
$background-color: #121212 !default; // Dark background


@import "base";